<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huijianzhu.attendance.mapper.OaAttendanceUserMapper">
  <resultMap id="BaseResultMap" type="com.huijianzhu.attendance.entity.OaAttendanceUser">
    <id column="user_no" jdbcType="VARCHAR" property="userNo" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="dept_no" jdbcType="VARCHAR" property="deptNo" />
    <result column="dept_name" jdbcType="VARCHAR" property="deptName" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="u_sex" jdbcType="VARCHAR" property="uSex" />
    <result column="u_address" jdbcType="VARCHAR" property="uAddress" />
    <result column="file_id" jdbcType="VARCHAR" property="fileId" />
    <result column="is_departure" jdbcType="VARCHAR" property="isDeparture" />
    <result column="is_delete" jdbcType="VARCHAR" property="isDelete" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_user_no" jdbcType="VARCHAR" property="updateUserNo" />
    <result column="update_user_name" jdbcType="VARCHAR" property="updateUserName" />
    <result column="extend1" jdbcType="VARCHAR" property="extend1" />
    <result column="extend2" jdbcType="VARCHAR" property="extend2" />
    <result column="extend3" jdbcType="VARCHAR" property="extend3" />
    <result column="extend4" jdbcType="VARCHAR" property="extend4" />
    <result column="extend5" jdbcType="VARCHAR" property="extend5" />
  </resultMap>
  <sql id="Base_Column_List">
    user_no, user_id, dept_no, dept_name, user_name, u_sex, u_address, file_id, is_departure, 
    is_delete, create_time, update_time, update_user_no, update_user_name, extend1, extend2, 
    extend3, extend4, extend5
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from oa_attendance_user
    where user_no = #{userNo,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from oa_attendance_user
    where user_no = #{userNo,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.huijianzhu.attendance.entity.OaAttendanceUser">
    insert into oa_attendance_user (user_no, user_id, dept_no, 
      dept_name, user_name, u_sex, 
      u_address, file_id, is_departure, 
      is_delete, create_time, update_time, 
      update_user_no, update_user_name, extend1, 
      extend2, extend3, extend4, 
      extend5)
    values (#{userNo,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{deptNo,jdbcType=VARCHAR}, 
      #{deptName,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, #{uSex,jdbcType=VARCHAR}, 
      #{uAddress,jdbcType=VARCHAR}, #{fileId,jdbcType=VARCHAR}, #{isDeparture,jdbcType=VARCHAR}, 
      #{isDelete,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{updateUserNo,jdbcType=VARCHAR}, #{updateUserName,jdbcType=VARCHAR}, #{extend1,jdbcType=VARCHAR}, 
      #{extend2,jdbcType=VARCHAR}, #{extend3,jdbcType=VARCHAR}, #{extend4,jdbcType=VARCHAR}, 
      #{extend5,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.huijianzhu.attendance.entity.OaAttendanceUser">
    insert into oa_attendance_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userNo != null">
        user_no,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="deptNo != null">
        dept_no,
      </if>
      <if test="deptName != null">
        dept_name,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="uSex != null">
        u_sex,
      </if>
      <if test="uAddress != null">
        u_address,
      </if>
      <if test="fileId != null">
        file_id,
      </if>
      <if test="isDeparture != null">
        is_departure,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="updateUserNo != null">
        update_user_no,
      </if>
      <if test="updateUserName != null">
        update_user_name,
      </if>
      <if test="extend1 != null">
        extend1,
      </if>
      <if test="extend2 != null">
        extend2,
      </if>
      <if test="extend3 != null">
        extend3,
      </if>
      <if test="extend4 != null">
        extend4,
      </if>
      <if test="extend5 != null">
        extend5,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userNo != null">
        #{userNo,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="deptNo != null">
        #{deptNo,jdbcType=VARCHAR},
      </if>
      <if test="deptName != null">
        #{deptName,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="uSex != null">
        #{uSex,jdbcType=VARCHAR},
      </if>
      <if test="uAddress != null">
        #{uAddress,jdbcType=VARCHAR},
      </if>
      <if test="fileId != null">
        #{fileId,jdbcType=VARCHAR},
      </if>
      <if test="isDeparture != null">
        #{isDeparture,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserNo != null">
        #{updateUserNo,jdbcType=VARCHAR},
      </if>
      <if test="updateUserName != null">
        #{updateUserName,jdbcType=VARCHAR},
      </if>
      <if test="extend1 != null">
        #{extend1,jdbcType=VARCHAR},
      </if>
      <if test="extend2 != null">
        #{extend2,jdbcType=VARCHAR},
      </if>
      <if test="extend3 != null">
        #{extend3,jdbcType=VARCHAR},
      </if>
      <if test="extend4 != null">
        #{extend4,jdbcType=VARCHAR},
      </if>
      <if test="extend5 != null">
        #{extend5,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.huijianzhu.attendance.entity.OaAttendanceUser">
    update oa_attendance_user
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="deptNo != null">
        dept_no = #{deptNo,jdbcType=VARCHAR},
      </if>
      <if test="deptName != null">
        dept_name = #{deptName,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="uSex != null">
        u_sex = #{uSex,jdbcType=VARCHAR},
      </if>
      <if test="uAddress != null">
        u_address = #{uAddress,jdbcType=VARCHAR},
      </if>
      <if test="fileId != null">
        file_id = #{fileId,jdbcType=VARCHAR},
      </if>
      <if test="isDeparture != null">
        is_departure = #{isDeparture,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserNo != null">
        update_user_no = #{updateUserNo,jdbcType=VARCHAR},
      </if>
      <if test="updateUserName != null">
        update_user_name = #{updateUserName,jdbcType=VARCHAR},
      </if>
      <if test="extend1 != null">
        extend1 = #{extend1,jdbcType=VARCHAR},
      </if>
      <if test="extend2 != null">
        extend2 = #{extend2,jdbcType=VARCHAR},
      </if>
      <if test="extend3 != null">
        extend3 = #{extend3,jdbcType=VARCHAR},
      </if>
      <if test="extend4 != null">
        extend4 = #{extend4,jdbcType=VARCHAR},
      </if>
      <if test="extend5 != null">
        extend5 = #{extend5,jdbcType=VARCHAR},
      </if>
    </set>
    where user_no = #{userNo,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.huijianzhu.attendance.entity.OaAttendanceUser">
    update oa_attendance_user
    set user_id = #{userId,jdbcType=VARCHAR},
      dept_no = #{deptNo,jdbcType=VARCHAR},
      dept_name = #{deptName,jdbcType=VARCHAR},
      user_name = #{userName,jdbcType=VARCHAR},
      u_sex = #{uSex,jdbcType=VARCHAR},
      u_address = #{uAddress,jdbcType=VARCHAR},
      file_id = #{fileId,jdbcType=VARCHAR},
      is_departure = #{isDeparture,jdbcType=VARCHAR},
      is_delete = #{isDelete,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_user_no = #{updateUserNo,jdbcType=VARCHAR},
      update_user_name = #{updateUserName,jdbcType=VARCHAR},
      extend1 = #{extend1,jdbcType=VARCHAR},
      extend2 = #{extend2,jdbcType=VARCHAR},
      extend3 = #{extend3,jdbcType=VARCHAR},
      extend4 = #{extend4,jdbcType=VARCHAR},
      extend5 = #{extend5,jdbcType=VARCHAR}
    where user_no = #{userNo,jdbcType=VARCHAR}
  </update>
</mapper>