<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huijianzhu.attendance.mapper.OaAttendanceRecordResultMapper">
  <resultMap id="BaseResultMap" type="com.huijianzhu.attendance.entity.OaAttendanceRecordResult">
    <id column="result_id" jdbcType="VARCHAR" property="resultId" />
    <result column="on_work" jdbcType="VARCHAR" property="onWork" />
    <result column="on_type_id" jdbcType="INTEGER" property="onTypeId" />
    <result column="on_type_name" jdbcType="VARCHAR" property="onTypeName" />
    <result column="after_word" jdbcType="VARCHAR" property="afterWord" />
    <result column="after_type_id" jdbcType="INTEGER" property="afterTypeId" />
    <result column="after_type_name" jdbcType="VARCHAR" property="afterTypeName" />
    <result column="take_time" jdbcType="VARCHAR" property="takeTime" />
    <result column="is_delete" jdbcType="VARCHAR" property="isDelete" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_user_no" jdbcType="VARCHAR" property="updateUserNo" />
    <result column="update_user_name" jdbcType="VARCHAR" property="updateUserName" />
    <result column="extend1" jdbcType="VARCHAR" property="extend1" />
    <result column="extend2" jdbcType="VARCHAR" property="extend2" />
    <result column="extend3" jdbcType="VARCHAR" property="extend3" />
    <result column="extend4" jdbcType="VARCHAR" property="extend4" />
    <result column="extend5" jdbcType="VARCHAR" property="extend5" />
  </resultMap>
  <sql id="Base_Column_List">
    result_id, on_work, on_type_id, on_type_name, after_word, after_type_id, after_type_name, 
    take_time, is_delete, create_time, update_time, update_user_no, update_user_name, 
    extend1, extend2, extend3, extend4, extend5
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from oa_attendance_record_result
    where result_id = #{resultId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from oa_attendance_record_result
    where result_id = #{resultId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.huijianzhu.attendance.entity.OaAttendanceRecordResult">
    insert into oa_attendance_record_result (result_id, on_work, on_type_id, 
      on_type_name, after_word, after_type_id, 
      after_type_name, take_time, is_delete, 
      create_time, update_time, update_user_no, 
      update_user_name, extend1, extend2, 
      extend3, extend4, extend5
      )
    values (#{resultId,jdbcType=VARCHAR}, #{onWork,jdbcType=VARCHAR}, #{onTypeId,jdbcType=INTEGER}, 
      #{onTypeName,jdbcType=VARCHAR}, #{afterWord,jdbcType=VARCHAR}, #{afterTypeId,jdbcType=INTEGER}, 
      #{afterTypeName,jdbcType=VARCHAR}, #{takeTime,jdbcType=VARCHAR}, #{isDelete,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{updateUserNo,jdbcType=VARCHAR}, 
      #{updateUserName,jdbcType=VARCHAR}, #{extend1,jdbcType=VARCHAR}, #{extend2,jdbcType=VARCHAR}, 
      #{extend3,jdbcType=VARCHAR}, #{extend4,jdbcType=VARCHAR}, #{extend5,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.huijianzhu.attendance.entity.OaAttendanceRecordResult">
    insert into oa_attendance_record_result
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="resultId != null">
        result_id,
      </if>
      <if test="onWork != null">
        on_work,
      </if>
      <if test="onTypeId != null">
        on_type_id,
      </if>
      <if test="onTypeName != null">
        on_type_name,
      </if>
      <if test="afterWord != null">
        after_word,
      </if>
      <if test="afterTypeId != null">
        after_type_id,
      </if>
      <if test="afterTypeName != null">
        after_type_name,
      </if>
      <if test="takeTime != null">
        take_time,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="updateUserNo != null">
        update_user_no,
      </if>
      <if test="updateUserName != null">
        update_user_name,
      </if>
      <if test="extend1 != null">
        extend1,
      </if>
      <if test="extend2 != null">
        extend2,
      </if>
      <if test="extend3 != null">
        extend3,
      </if>
      <if test="extend4 != null">
        extend4,
      </if>
      <if test="extend5 != null">
        extend5,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="resultId != null">
        #{resultId,jdbcType=VARCHAR},
      </if>
      <if test="onWork != null">
        #{onWork,jdbcType=VARCHAR},
      </if>
      <if test="onTypeId != null">
        #{onTypeId,jdbcType=INTEGER},
      </if>
      <if test="onTypeName != null">
        #{onTypeName,jdbcType=VARCHAR},
      </if>
      <if test="afterWord != null">
        #{afterWord,jdbcType=VARCHAR},
      </if>
      <if test="afterTypeId != null">
        #{afterTypeId,jdbcType=INTEGER},
      </if>
      <if test="afterTypeName != null">
        #{afterTypeName,jdbcType=VARCHAR},
      </if>
      <if test="takeTime != null">
        #{takeTime,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserNo != null">
        #{updateUserNo,jdbcType=VARCHAR},
      </if>
      <if test="updateUserName != null">
        #{updateUserName,jdbcType=VARCHAR},
      </if>
      <if test="extend1 != null">
        #{extend1,jdbcType=VARCHAR},
      </if>
      <if test="extend2 != null">
        #{extend2,jdbcType=VARCHAR},
      </if>
      <if test="extend3 != null">
        #{extend3,jdbcType=VARCHAR},
      </if>
      <if test="extend4 != null">
        #{extend4,jdbcType=VARCHAR},
      </if>
      <if test="extend5 != null">
        #{extend5,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.huijianzhu.attendance.entity.OaAttendanceRecordResult">
    update oa_attendance_record_result
    <set>
      <if test="onWork != null">
        on_work = #{onWork,jdbcType=VARCHAR},
      </if>
      <if test="onTypeId != null">
        on_type_id = #{onTypeId,jdbcType=INTEGER},
      </if>
      <if test="onTypeName != null">
        on_type_name = #{onTypeName,jdbcType=VARCHAR},
      </if>
      <if test="afterWord != null">
        after_word = #{afterWord,jdbcType=VARCHAR},
      </if>
      <if test="afterTypeId != null">
        after_type_id = #{afterTypeId,jdbcType=INTEGER},
      </if>
      <if test="afterTypeName != null">
        after_type_name = #{afterTypeName,jdbcType=VARCHAR},
      </if>
      <if test="takeTime != null">
        take_time = #{takeTime,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserNo != null">
        update_user_no = #{updateUserNo,jdbcType=VARCHAR},
      </if>
      <if test="updateUserName != null">
        update_user_name = #{updateUserName,jdbcType=VARCHAR},
      </if>
      <if test="extend1 != null">
        extend1 = #{extend1,jdbcType=VARCHAR},
      </if>
      <if test="extend2 != null">
        extend2 = #{extend2,jdbcType=VARCHAR},
      </if>
      <if test="extend3 != null">
        extend3 = #{extend3,jdbcType=VARCHAR},
      </if>
      <if test="extend4 != null">
        extend4 = #{extend4,jdbcType=VARCHAR},
      </if>
      <if test="extend5 != null">
        extend5 = #{extend5,jdbcType=VARCHAR},
      </if>
    </set>
    where result_id = #{resultId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.huijianzhu.attendance.entity.OaAttendanceRecordResult">
    update oa_attendance_record_result
    set on_work = #{onWork,jdbcType=VARCHAR},
      on_type_id = #{onTypeId,jdbcType=INTEGER},
      on_type_name = #{onTypeName,jdbcType=VARCHAR},
      after_word = #{afterWord,jdbcType=VARCHAR},
      after_type_id = #{afterTypeId,jdbcType=INTEGER},
      after_type_name = #{afterTypeName,jdbcType=VARCHAR},
      take_time = #{takeTime,jdbcType=VARCHAR},
      is_delete = #{isDelete,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_user_no = #{updateUserNo,jdbcType=VARCHAR},
      update_user_name = #{updateUserName,jdbcType=VARCHAR},
      extend1 = #{extend1,jdbcType=VARCHAR},
      extend2 = #{extend2,jdbcType=VARCHAR},
      extend3 = #{extend3,jdbcType=VARCHAR},
      extend4 = #{extend4,jdbcType=VARCHAR},
      extend5 = #{extend5,jdbcType=VARCHAR}
    where result_id = #{resultId,jdbcType=VARCHAR}
  </update>
</mapper>